{% extends "base.html.twig" %}

{% block title %}Create a new issue
{% endblock %}

{% block body %}
	<h1>Create an issue</h1>
	<p>Create a new issue, or go back to
		<a href="../home">existing</a>
		issues</p>
	<div class="displayForm">
		{{ form(form) }}
	</div>
{% endblock %}
