{% extends "base.html.twig" %} 
{% block title %}Issues{% endblock %} 
{% block body %}

<h1>Issues</h1>
{% if issues|length == 0 %}
<p>There are currently no issues to display. You can create a new issue
    <a href="{{ path("app_new_createissue") }}">here</a>
</p>
{% else %}
<p>Found {{ issues|length }} issues. Create a new issue
    <a href="{{ path("app_new_createissue") }}">here</a>
</p>
<form method="GET" action="{{ path("app_search_searchissues") }}">
        <label for="query">Search issues:</label><br>
        <input type="search" id="query" name="query" placeholder="Issue title or description" size="40">
        <button type="submit">Search</button>
</form>
{% endif %} {% endblock %}