{% extends "base.html.twig" %}

{% block title %}Update issue#{{ issue.id }}
{% endblock %}

{% block body %}
	<h1>Update existing issue</h1>

	{% if issue.resolutionStatus == 1 %} <!-- resolutionStatus -> isSolved -->
		<p>You cannot update this issue, as it has already been solved<br>See the details
			<a href="{{ path("app_details_showdetails", {"id": issue.id}) }}">here</a>
		</p>
	{% else %}
		<p>Update the current issue, or go back to
			<a href="{{ path ("app_home_showissues")}}">existing</a>
			issues</p>
		<div class="displayForm">
			{{ form(form) }}
		</div>
	{% endif %}
{% endblock %}
